html{
    width: 1920px;
    background-color: #171717;
}
header{
    margin-right: 230px;
    margin-left: 230px;
}
main{
    margin-right: 230px;
    margin-left: 230px;
}
.top{
    display: flex;
    margin-top: 37px;
    justify-content: space-between;
}

.eid {
    color: #ffffff;
    display: flex;
    font-size: 79px;
    margin: 0%;
}

.eurioivest {
    display: block;
    color: #ffffff;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 100;

}

.development {
    display: block;
    color: #ffffff;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 700;
}
.name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 0;
}
button{
    background-color:#171717 ;
    width: 218px;
    height: 50px;
 border: 1px solid #E4B564;
 color: #E4B564;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.phone{
    margin-right: 5px ;
}
body{
    margin-bottom: 150px;
}
h2{
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
}
p{
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size: 20px;
    width: 1182px;
}
.first-container{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "item1 item1 item2 item2 item3 item3"
    "item4 item4 item4 item5 item5 item5";
    justify-content: space-between;
    gap: 20px;


}
.item1{
   grid-area: item1;
   height: 468px;
    display: grid;
    background-color: #634F2C;
    color: #FFFFFF;
justify-content: center;
align-items: center;
font-size: 20px;
font-weight: 700;
font-family: 'Gilam', sans-serif;
}
.item2{
    height: 468px;
    grid-area: item2;
        display: grid;
        background-color: #B4A385;
        color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gilam', sans-serif;
    align-items: center;
    }
    .item2 p{
        display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word; 
  flex-direction: column;
    }
    .item3{
        height: 468px;
        grid-area: item3;
        display: grid;
        background-color: #E4B564;
        color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Gilam', sans-serif;
    align-items: center;
    }
    .item4{
        height: 468px;
        grid-area: item4;
            display: grid;
             background-color: #635A4A;
            color: #FFFFFF;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Gilam', sans-serif;
        align-items: center;
     }
     .item5{
        height: 468px;
        grid-area: item5;
            display: grid;
            background-color: #B08C4D;
            color: #FFFFFF;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Gilam', sans-serif;
        align-items: center;}

h3{
    margin-top: 150px;
    font-family: 'Gilam', sans-serif;;
font-size: 50px;
font-weight: 700;
color: #ffffff;

}
.second-container{
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 58px 126px 129px 305px;
    grid-template-areas: 
    "sec-item-1 sec-item-2 sec-item-3"
    "sec-item-1 sec-item-2 sec-item-5"
    "sec-item-4 sec-item-2 sec-item-5"
    "sec-item-4 sec-item-6 sec-item-5"
    "sec-item-4 sec-item-6 sec-item-7";
    grid-column-gap: 40px;
    grid-row-gap: 15px;
}
.sec-item1{
    grid-area: sec-item-1;
    grid-column: 1;
    grid-row: 1/span 2;
    display: grid;
    background-color: #0E0E0E;
    color: #FFFFFF;
padding-top: 50px;
padding-left: 50px;
font-size: 20px;
font-family: 'Gilam', sans-serif;
}
.sec-item1 span{
    font-weight: 700;
}
.sec-item1 div{
    display: flex;
  align-items: flex-start;
  justify-content: flex-start; 
  flex-direction: column;
    }
.sec-item2{
    grid-area: sec-item-2;
    grid-column: 2;
grid-row: 1/ span 3;
        display: grid;
        background-color: #242424;
        color: #FFFFFF;
    padding: 50px 0 0 50px;
    font-size: 20px;
    font-family: 'Gilam', sans-serif;
    }
    .sec-item2 div{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start; 
        flex-direction: column;
    }
    .sec-item2 span{
        font-weight: 700;
    }
    .sec-item3{
        grid-area: sec-item-3;
        grid-column: 3;
        grid-row: 1 ;
        display: grid;
        background-color: #242424;
        color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gilam', sans-serif;
    align-items: center;
    }
 .sec-item4{
    grid-area: sec-item-4;
    grid-column: 1;
    grid-row: 3/ span 5;
        display: grid;
         background-color: #242424;
        color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gilam', sans-serif;
    align-items: center;
 }
 .sec-item5{
    grid-area: sec-item-5;
    grid-column: 3;
grid-row: 2/ span 3;
        display: grid;
        background-color: #0E0E0E;
        color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gilam', sans-serif;
    align-items: center;
 }
 .sec-item6{
    grid-area: sec-item-6;
    grid-column: 2;
grid-row: 4 / span 5 ;
        display: grid;
        background-color: #E4B564;
        color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gilam', sans-serif;
    align-items: center;
 }
 .sec-item7{
    grid-area: sec-item-7;
    grid-column: 3;
     grid-row: 5;
        display: grid;
        background-color: #0A0909;
        color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Gilam', sans-serif;
    align-items: center;
 }
 footer{
    background-color:#0E0E0E ;
 }
 .bottom-menu{
    margin-right: 230px;
    margin-left: 230px;
 }
 .header-bottom{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }
 .bottom-container{
    display: grid;
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);
    grid-template-areas: "bot-item1 bot-item2 bot-item3"
    "bot-item4 bot-item5 bot-item6";
 }
 .bot-item1{
    grid-area: bot-item1;
    background-color:#634F2C ;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .eid-2 {
    color: #ffffff;
    display: flex;
    font-size: 63px;
    margin: 0%;
}

.eurioivest-2 {
    display: block;
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 5px;
    font-weight: 200;
    font-weight: 100;

}

.development-2 {
    display: block;
    color: #ffffff;
    font-size: 25px;
    padding-top: 18px;
    font-weight: 700;
}
.name-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 0;
}
.bot-item2 {
    grid-area: bot-item2;
    background-color: #E8D2ABC2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .bot-item2 img{
    padding-bottom: 10px;
  }
 .montaj{
    margin-top: 10px;
    font-weight: 400;
 }
 .bot-item3{
    grid-area: bot-item3;
    background-color: #E4B564;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
 }
 .square-container{
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }

 .bot-item3 span, .bot-item5 span, .bot-item2 span{
    padding-left: 10px;
margin-top: 0;
font-size: 25px;
font-weight: 700;
color: white;
padding-left: 0%;
padding-top: 13px ;
 }
 .square {
    width: 60px;
    height: 60px;
    border: 4px solid white;
    border-right: 0;
    overflow: hidden;
    text-align: center;
  }
  .square p{
margin: 10px;
font-size: 25px ;
font-weight: 700;
  }
  
  .square::before {
    content: "";
    display: block;
    float: right;
    height: 100%;
    width: 4px;
    background: 
    linear-gradient(to bottom, white 10%, transparent 10%, transparent 20%, white 20%, white 55%, transparent 55%, transparent 65%, white 65%) no-repeat;
  }
  
  
  
 .bot-item4{
    grid-area: bot-item4;
    background-color:#635A4A;
    color: #ffffff;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }
 
 .bot-item5{
    grid-area: bot-item5;
    background-color: #B08C4D;
    color: #ffffff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    align-items: center;
 }
.bot-item6{
    grid-area: bot-item6;
    background-color:#634F2C ;
    color: aliceblue;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
